# Django #
*.log
*.pot
*.pyc
 __pycache__
__pycache__/
*/__pycache__/
*.py[cod]
db.sqlite3
media

# Visual Studio Code # 
.vscode/* 
!.vscode/settings.json 
!.vscode/tasks.json 
!.vscode/launch.json 
!.vscode/extensions.json 
.history

# Environments 
.env 
.venv 
env/ 
venv/ 
ENV/ 
env.bak/ 
venv.bak/ 

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# database password and name
rdxSolutionsBackendProject/databaseConfig.py

# Screenshots
Skärmavbild 2022-09-21 kl. 14.39.07.png
Skärmavbild 2022-09-22 kl. 09.26.56.png
Skärmavbild 2022-09-23 kl. 18.56.15.png
Skärmavbild 2022-09-23 kl. 19.36.38.png
Skärmavbild 2022-09-23 kl. 19.38.22.png
Skärmavbild 2022-09-23 kl. 19.39.03.png

# Orders
Order:*.txt
